{% extends 'base.html' %}

{% block head %}
<title>You Lost!</title>
{% endblock %}

{% block header %}
<h1>Uh oh...</h1>
<p>Looks like youve got some more reading to do...</p>
{% endblock %}

{% block left %}
<h1>Hint:</h1>
<p>All the answers are somewhere on this webapp, you just have to find them...</p>
{% endblock %}

{% block main %}
<h1>You were so close!</h1>
<p>Fortunately, you can try as many times as you like. Use the navigation bar to read up on the question you got wrong and good luck!</p>
{% endblock %}