{% extends 'base.html' %}

{% block head %}
<title>You Won!</title>
{% endblock %}

{% block header %}
<h1>Well Done!!!</h1>
<p>You're a real pro at this</p>
{% endblock %}

{% block left %}
<h1>Congratulations on passing the quiz!!</h1>
<p>Remember the most important part about climbing is that you have fun ;)</p>
{% endblock %}

{% block main %}
<h1>This is just the beginning...</h1>
<p>There are many more techniques and ways to climb than mentioned here, the best way to find out is by practicing and figuring out what works for you. Thank you for playing and good luck!</p>
{% endblock %}